In [4]:
import pandas as pd
from pathlib import Path
import csv

In [5]:
 #Import csv file
filepath = Path("Data/personal_transactions.csv")

In [6]:
pd= pd.read_csv(filepath, index_col='Date', infer_datetime_format=True, parse_dates=True)
pd.head()

,Description,Amount,Transaction Type,Category,Account Name
Date,,,,,
2018-01-01,Amazon,11.11,debit,Shopping,Platinum Card
2018-01-02,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2018-01-02,Thai Restaurant,24.22,debit,Restaurants,Silver Card
2018-01-03,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
2018-01-04,Netflix,11.76,debit,Movies & DVDs,Platinum Card