# Personal Finance Managment Tool

In [1]:
# Importing libraries
import pandas as pd
from pathlib import Path
import csv
import numpy as np
import panel as pn
import datetime
from datetime import datetime, timezone
import hvplot.pandas

In [2]:
 #Import csv file
filepath = Path("Data/personal transaction.csv")

In [3]:
# Reading the csv as a dataframe 
df= pd.read_csv(filepath, index_col='Date', infer_datetime_format=True, parse_dates=True)
df.head()

              Month       Description   Amount         Category   Account Name
Date
2018-01-01  JANUARY            Amazon    11.11         Shopping  Platinum Card
2018-01-02  JANUARY  Mortgage Payment  1247.44  Mortgage & Rent       Checking
2018-01-02  JANUARY   Thai Restaurant    24.22      Restaurants    Silver Card
2018-01-04  JANUARY           Netflix    11.76    Movies & DVDs  Platinum Card
2018-01-05  JANUARY   American Tavern    25.85      Restaurants    Silver Card

# Clean Up data 
### Retrieve data types to confirm what needs to be converted
### Drop the extra date column

In [ ]:
# Retrieve data types to confirm what needs to be converted
df.dtypes

In [ ]:
df.count()

In [ ]:
# Drop the extra date column
df.drop(columns=['Account Name'], inplace=True)
df.head()

In [ ]:
# Count the frequency of each sector from the list of companies
df_count= df['Description'].value_counts()
df_count

# Group Categories
### Filter by category and adding all the amounts by month

In [ ]:
df['Category'] = 'unassigned'
df.head()

In [ ]:
# Assign transactions to the correct category
# Shopping
df['Category'] = np.where(df['Description'].str.contains(
    'Amazon|Grocery Store'),
    'Shopping', df['Category'])

# Mortgage Rent
df['Category'] = np.where(df['Description'].str.contains(
    'Mortgage Payment'),
    'Mortgage Rent', df['Category'])

# Food
df['Category'] = np.where(df['Description'].str.contains(
    'Restaurant'),
    'Food', df['Category'])

# Utilities
df['Category'] = np.where(df['Description'].str.contains(
    'Gas Company|City Water Charges|Power Company'),
    'Utilities', df['Category'])

# Gas & Fuel
df['Category'] = np.where(df['Description'].str.contains(
    'Shell'),
    'Gas & Fuel', df['Category'])
df.head(15)

In [ ]:
# Group dataframe by consisting of month, amount and category
df2 = df[['Month','Amount','Category']]
df2

In [ ]:
# Group dataframe by category and sum amount
df3 = df2.groupby('Category').Amount.sum()
df3

In [ ]:
# Group dataframe by month and sum amount
df4 = df2.groupby('Month').Amount.sum()
df4

In [ ]:
# Plot bar chart of half of the year
# Specify the variables for the x- and y-axes using the syntax (x='saleDate', y='saleAmt')
# YOUR CODE HERE
df_plot = df3.hvplot(kind='bar', 
           x='Category', 
           y='Amount') \
   .opts(title='Half of the year expenses', 
           xlabel='Category', 
           ylabel='Amount', 
           yformatter='%.0f')
df_plot

# Comfirming if person spent right the whole year

# Summary

# What new yearly goal they would possibly like next time

# Chart